.content {
  display: grid;
  gap: 4rem;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: 3fr 2fr;
  }
}

.cart {
  padding: 3rem 0;
}

.product {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 4rem;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
  padding: 3rem;
}

.product:last-of-type {
  border: none;
}

.product p {
  margin: 0 0 1rem 0;
}

.name {
  font-weight: 700;
  font-size: 2.2rem;
}

.amount {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.amount p {
  margin: 0;
}

.select {
  all: unset;
  padding: 1rem;
  border: 1px solid #cfcfcf;
  flex: 1; /* Hace que tome todo el tamaño restante */
  text-align: center;
  border-radius: 1rem;
}
.price {
  font-weight: 700;
  color: var(--primary);
}

.price span {
  font-size: 2.4rem;
}

.subtotal {
  font-weight: 700;
}

.subtotal span {
  font-size: 2.4rem;
}
