.container {
  padding: 2rem;
}

.container h3 {
  font-weight: 400;
  font-size: 2.8rem;
  margin: 0;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .container h3 {
    min-height: 17rem;
  }
}

@media (min-width: 802px) {
    .container h3 {
      min-height: 10rem;
    }
  }

.date {
  font-size: 1.6rem;
}

.date span {
  color: var(--primary);
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.price {
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
  text-align: center;
  color: var(--primary);
}

.link {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--negro);
  border: 2px solid var(--primary);
  padding: 1rem 5rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.link:hover {
  background-color: var(--primary);
  color: var(--blanco);
}
