.list {
  display: grid;
  gap: 4rem;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
