body {
  background-color: #fafafa;
}

header {
  background-color: #6d28d9;
  padding: 2rem 0;
  color: white;
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: uppercase;
}

main,
form {
  margin: 5rem auto 0 auto;
  max-width: 1000px;
  width: 90%;
  padding: 3rem;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: -1px 15px 62px -35px rgba(0, 0, 0, 0.96);
  -webkit-box-shadow: -1px 15px 62px -35px rgba(0, 0, 0, 0.96);
  -moz-box-shadow: -1px 15px 62px -35px rgba(0, 0, 0, 0.96);
}

form legend {
  font-family: "Fredoka", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
  }
}

form label {
  display: block;
  margin: 1rem 0;
  color: #71717a;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  form label {
    margin: 0.5rem 0;
  }
}

form input[type="text"] {
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid #cbd5e1;
  padding: 0.5rem;
}

form input[type="submit"] {
  background-color: #7c3aed;
  border: none;
  border-radius: 0.5rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  padding: 0.8rem;
  display: block;
  width: 100%;
  margin-top: 2rem;
}

form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #6d28d9;
}

.alert {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #d51007;
  width: auto;
  display: block;
}

.text-center {
  text-align: center;
}

.lyric {
  white-space: pre-wrap;
}
